<div class="col-md-4">
    <div class="datepicker"></div>
</div>
<div class="col-md-8">
    <div class="panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div align="center">
         
            <%= link_to 'Agendar Cita', new_agenda_especialidad_medico_appointment_path(@specialty, @physician, :date => @date), remote: true, class: "btn btn-primary" %>
          </div>
        </div>
     
<% if @date.present?%>
    <div class="alert alert-danger"><%= Date.parse(@date).strftime("%d/%m/%Y") %></div>
<% end %>

     <table class="table table-hover table-condensed">
      <thead>
        <th>Folio</th>
        <th>Paciente</th>
        <th>Horario</th>
        <th>Accion</th>
      </thead>
      <tbody>
       <% @appointments.each do |a| %>
          <tr class='{{$tachado}}'>
            <td><%= a.id %></td>
          
            <td><%= a.patient.name %> <%= a.patient.father_lastname %> <%= a.patient.mother_lastname %> <br> <strong><small><%= a.patient.rfc %> /<%a.patient.type %></small></strong></td>
     		     <td><%= a.horario %></td>
            <td>

            <a class="panelColorGreen" href="{{ route('admin.citas.concretada', [$medico->slug , $date, $cita->id]) }}">
                <span class="fa fa-check-square-o fa-2x"></span>
              </a>
              <a class="load-form-modal panelColorGreen"
                data-url="{{ route('admin.citas.edit', [$medico->slug , $date, $cita->id]) }}" 
                data-toggle ="modal" data-target='#form-modal'><span class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></span>
              </a> 

              <a href="{{ route('admin.citas.destroy', [$medico->slug, $date, $cita->id]) }}" onclick="return confirm('Seguro desea eliminarlo?')"><span class="fa fa-trash fa-2x panelColorRed" aria-hidden="true"></span>
              </a>

            </td>
          </tr>
       <% end %>
      </tbody>
    </table>
   </div>
    </div>
</div>