<% if @patient.present? %>
<strong>Pacientes: </strong>
	<br>
	<br>
	<div class="row">
		
		<div class="col-md-6">	
			<ul class="nav nav-pills">
			<% @patient.each do |patient| %>
			
			  <li><a data-toggle="pill" href="#<%= patient.id %>"><%= patient.fullname %> /<%= patient.type.code.to_s.rjust(2, '0') %></a></li>
			  <div class="tab-content">
				  <div id="<%= patient.id %>" class="tab-pane fade">
				  	
					<%= form_tag(agenda_create_path, method: :post) do %>
						<div class="form-group">
							<%= text_field_tag :fecha_inicial, params[:date], class: "form-control", readonly: true %>
						</div>
						<div class="form-group">
						<% iden = patient.id*3 %>
							<%= text_field_tag :horario, [],class: "form-control",id: iden %>
						</div>
						<div class="form-group">
							<%= submit_tag "Registrar", :name => nil, class: "btn btn-primary" %>
						</div>
						<%= hidden_field_tag :patient_id, patient.id %>
						<%= hidden_field_tag :physician_id, params[:medico_slug] %>
						 <script>
							$('#<%= iden %>').timepicker({ 
								'step': 20,
							    'timeFormat': 'H:i',
							    'disableTextInput': true,
							    'disableTimeRanges': 
							    [
							    ['8am','10am'],
				            	
						        ]
							});
						</script> 
					<% end %>
				  </div>
				</div>		
			<% end %>
		</ul>
	</div>	
</div>
<% end %>

	<%= link_to "Cancelar Registro", "#", class: "btn btn-info" %>
