<h1 class="alert alert-success"><td>  <%= @patient.name %>	<%= @patient.father_lastname %> <%= @patient.mother_lastname %> </td></h1>
<h3> <p><%= @patient.rfc %></h3></p>
<h3> <p><%= @patient.type_id %></h3></p>
<h3> <p><%= @patient.fecha_nacimiento %></h3></p>



<p> <%=link_to "Regresar", patients_path %> </p>